body {
    background-color: ivory;
}

main {
    text-align: center;
}

.game-grid {
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 300px;
    margin: 0 auto;
}

.cell {
    width: 100px;
    height: 100px;
    box-shadow: 0 0 0 1px #333333;
    border: 1px solid #333333;
    cursor: pointer;
    line-height: 100px;
    font-size: 60px;
}

.cell:hover {
    background-color: rgb(238, 238, 217);
}

.playerX {
    color: blue;
}

.playerO {
    color: red;
}

.btn {
    background-color: #4c74af;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    border-radius: 4px;
}
      
.btn:hover {
    background-color: #4c56af;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}